server:
  port: 8080

spring:
  application:
    name: ui-service
  thymeleaf:
    cache: false

session:
  base-url: ${SESSION_BASE_URL:http://localhost:8082}

management:
  endpoints:
    web:
      exposure:
        include: health,metrics
  endpoint:
    health:
      show-details: when-authorized
