server:
  port: 8081

spring:
  application:
    name: game-engine-service
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}

tictactoe:
  kafka:
    topic: tictactoe.game.events.v1

management:
  endpoints:
    web:
      exposure:
        include: health,metrics
  endpoint:
    health:
      show-details: when-authorized
